---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import GalvaoHeroImage from '../assets/images/galvao-hero.webp';
import Card from '../components/Card.astro';
import { YouTube } from '@astro-community/astro-embed-youtube';

import T1 from '../assets/images/transforms/1.webp';
import T2 from '../assets/images/transforms/2.webp';
import T3 from '../assets/images/transforms/3.webp';
import T4 from '../assets/images/transforms/4.webp';
import T5 from '../assets/images/transforms/5.webp';
import T6 from '../assets/images/transforms/6.webp';
import T7 from '../assets/images/transforms/7.webp';
import T8 from '../assets/images/transforms/8.webp';
import T9 from '../assets/images/transforms/9.webp';
import T10 from '../assets/images/transforms/10.webp';
import T11 from '../assets/images/transforms/11.webp';
import T12 from '../assets/images/transforms/12.webp';
import T13 from '../assets/images/transforms/13.webp';
import T14 from '../assets/images/transforms/14.webp';
import T15 from '../assets/images/transforms/15.webp';
import T16 from '../assets/images/transforms/16.webp';
import T17 from '../assets/images/transforms/17.webp';
import T18 from '../assets/images/transforms/18.webp';
import T19 from '../assets/images/transforms/19.webp';
import T20 from '../assets/images/transforms/20.webp';
import T21 from '../assets/images/transforms/21.webp';
import T22 from '../assets/images/transforms/22.webp';
import T23 from '../assets/images/transforms/23.webp';
import ContactForm from '../components/organism/ContactForm.astro';

/**
 * TODO:
 * - Create simple message informing that the email was sent or not (alert from DaisyUI)
 * - Thank you page with instructions
 * - Optimize SEO
 *  https://youtube.com/shorts/v28fKkkM5qA
 *  https://youtu.be/Oio-TLbCwwY
 */
---

<Layout
    title="Galvão Coach | Personal Trainer Online - Planos de dieta individuais e de treino para casa ou ginásio"
    description="Consegue o teu melhor corpo de sempre, sem passar fome e a comer o que gostas! Muda o teu corpo enquanto comes o que gostas, com planos de dieta individuais e de treino para casa ou ginásio, totalmente personalizado para ti e para a tua rotina"
>
    <main class="px-8 pt-5 lg:px-20 lg:pt-10">
        <section
            class="flex items-center justify-center flex-wrap lg:flex-nowrap gap-10"
        >
            <div class="-mt-52 md:-mt-28 lg:mt-0">
                <Image
                    src={GalvaoHeroImage}
                    alt="Foto de perfil do Galvão Coach"
                    class="rounded-xl size-[750px] object-contain lg:object-cover"
                    loading="eager"
                />
                <!-- <Signature class="absolute bottom-20 left-56 text-slate-50 w-72" /> -->
            </div>
            <div class="lg:max-w-2xl lg:-ml-10 md:-mt-48 lg:mt-10 -mt-64 z-10">
                <h1
                    class="text-3xl text-center lg:text-start lg:text-5xl font-bold mb-6"
                >
                    Consegue o teu melhor corpo de sempre, <span
                        class="text-accent font-bold"
                        >sem passar fome e a comer</span
                    > o que gostas!
                </h1>
                <h2 class="text-lg text-center lg:text-start lg:text-xl mb-6">
                    Muda o teu corpo enquanto comes o que gostas, com planos de
                    dieta individuais e de treino para casa ou ginásio, <strong
                        class="text-accent underline"
                        >totalmente personalizado</strong
                    > para ti e para a tua rotina
                </h2>
                <div>
                    <h3
                        class="text-lg text-center lg:text-xl lg:text-start font-bold mb-4"
                    >
                        Deixa-nos o teu contacto e entra na lista de espera:
                    </h3>
                    <ContactForm />
                </div>
            </div>
        </section>
        <section class="mt-32">
            <h2 class="text-3xl font-bold mb-20 text-center">
                Estas são várias tranformações reais de alguns membros do nosso
                programa:
            </h2>
            <div class="carousel p-4 max-w-full">
                <div class="carousel-item gap-4">
                    <Image
                        src={T1}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T2}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T3}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T4}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T5}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T6}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T7}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T8}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T9}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T10}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T11}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T12}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T13}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T14}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T15}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T16}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T17}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T18}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T19}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T20}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T21}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T22}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                    <Image
                        src={T23}
                        class="carouselItem rounded-box size-[320px] lg:size-[400px]"
                        alt="foto de atleta antes e depois de passar pelo programa de transformação corporal"
                    />
                </div>
            </div>
        </section>
        <section class="mt-32">
            <h2 class="text-3xl font-bold mb-20 text-center">
                Ao que tens direito no nosso programa 100% individual?
            </h2>
            <div class="flex justify-around flex-wrap gap-6">
                <Card
                    title="Avaliação Completa"
                    body="Para criar planos 100% adequados a ti e a como te encontras , vamos realizar uma avaliação para saber como te vamos montar o plano nutricional, SÓ com alimentos que gostes de comer no dia a dia , e sem sofrer na abordagem. O mesmo seguirá em relação ao teu treino (se necessário) , em casa ou no ginásio. Assim vamos ter todas as ferramentas para montar a tua abordagem 100% de forma individual e com garantia de excelência"
                />
                <Card
                    title="Individualidade e adaptação"
                    body="Vais ter acompanhamento com a minha equipa diariamente! No teu plano vamos colocar sempre alimentos que gostes, e se te fartares dos mesmos trocamos no dia por outros novos que te agradem e te façam chegar ao objetivo proposto, sem nunca te fartares da abordagem, e tendo prazer no que comes! Vais poder continuar a ter vida social e sair com amigos, enquanto tens resultados"
                />
                <Card
                    title="Acompanhamento constante"
                    body="Vamos ter avaliações contigo semanais ou quinzenais, para perceber como está a reagir o teu corpo e fazer as mudanças devidas! Nunca te vais sentir só! A nossa equipa vai analisar as mudanças corporais até ao milimetro e adaptar o treino e a dieta em prol da tua evolução!"
                />
            </div>
        </section>
        <section class="mt-32">
            <h2 class="text-3xl font-bold mb-20 text-center">
                A nossa melhor montra, são os nossos clientes satisfeitos:
            </h2>
            <div class="flex flex-col lg:flex-row justify-center gap-5">
                <YouTube
                    class="lg:w-1/3"
                    id="https://youtube.com/shorts/v28fKkkM5qA"
                />
                <YouTube class="lg:w-1/3" id="https://youtu.be/Oio-TLbCwwY" />
            </div>
        </section>
        <section class="mt-32">
            <h2 class="text-3xl font-bold mb-8 text-center">
                Não percas mais tempo nem adies a tua transformação!
            </h2>
            <div class="max-w-2xl mx-auto">
                <h3 class="font-bold text-xl text-center mb-4">
                    Para garantires uma das vagas limitadas no nosso programa,
                    preenche os dados abaixo:
                </h3>
                <ContactForm />
            </div>
        </section>
    </main>
</Layout>

<style>
    .carouselItem {
        view-timeline-name: --reveal;
        animation-timeline: --reveal;

        animation-name: show;
        animation-fill-mode: both;
        animation-range: entry 25% cover 50%;

        animation-duration: 1ms; /* Firefox requires this to apply the animation */
    }

    @keyframes show {
        from {
            opacity: 0;
            scale: 10%;
        }

        to {
            opacity: 1;
            scale: 100%;
        }
    }
</style>
